.contactFormContainer {
  width: 70%;
}

.contactForm {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-weight: 200;
  font-size: 22px;
}

.contactFormTitle {
  text-align: center;
  letter-spacing: 1.5px;
  font-weight: 400;
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #A64AC9,
      0 0 21px #A64AC9,
      0 0 42px #A64AC9,
      0 0 82px #A64AC9,
      0 0 92px #A64AC9,
      0 0 102px #A64AC9,
      0 0 151px #A64AC9;
}

.contactFormTagline {
  font-weight: 300;
  letter-spacing: 1.2px;
  margin-left: 20px;
  color: #333;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #A64AC9,
      0 0 21px #A64AC9,
      0 0 42px #A64AC9,
      0 0 82px #A64AC9,
      0 0 92px #A64AC9,
      0 0 102px #A64AC9,
      0 0 151px #A64AC9;
}

.contactFormItem {
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 5px;
  font-size: 24px;
  color: #333;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #A64AC9
}

.inputField {
  background-color: #FCCD04;
  border: 1px solid #F5E6CC;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.submitBtn {
  width: 20%;
  margin: 22px;
  border: 1px solid #F5E6CC;
  color: #A64AC9;
  font-size: 18px;
  letter-spacing: 1.2px;
  background-color: #FCCD04;
  border-radius: 4px;
}